{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "nodenext"
  },
  "jsc": {
    "target": "esnext",
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"],
      "~/*": ["./*"]
    },
    "experimental": {
      "keepImportAttributes": true,
      "emitAssertForImportAttributes": false
    }
  }
}
