{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "target": "es2022",
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "baseUrl": "./",
    "paths": {
      "#assets/*": ["./src/assets/*"],
      "#commands/*": ["./src/commands/*"],
      "#events/*": ["./src/events/*"],
      "#interactions/*": ["./src/interactions/*"],
      "#lib/*": ["./src/lib/*"]
    },
    "experimental": {
      "keepImportAttributes": true,
      "emitAssertForImportAttributes": true
    }
  }
}
