.hamburger svg g {
	@apply origin-center;
	transition: all 0.16s ease;
}
.hamburger svg path {
	@apply opacity-100;
	transition: all 0.16s ease;
}
.hamburger svg.open path {
	transition: all 0.16s ease,
}
.hamburger svg.open g {
	transition: all 0.16s ease;
}
.hamburger svg.open > g:nth-of-type(1) {
	@apply rotate-45;
}
.hamburger svg.open > g:nth-of-type(1) path {
	transform: translateY(4px);
}
.hamburger svg.open > g:nth-of-type(2) {
	@apply -rotate-45;
}
.hamburger svg.open > g:nth-of-type(2) path {
	transform: translateY(-4px);
}
