.hamburger svg g {
	@apply origin-center;
	transition: transform 0.16s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.hamburger svg path {
	@apply opacity-100;
	transition: transform 0.16s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.hamburger svg.open path {
	transition: transform 0.16s cubic-bezier(0.25, 0.1, 0.25, 1),
}
.hamburger svg.open g {
	transition: transform 0.16s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.hamburger svg.open > g:nth-of-type(1) {
	@apply rotate-45;
}
.hamburger svg.open > g:nth-of-type(1) path {
	transform: translateY(4px);
}
.hamburger svg.open > g:nth-of-type(2) {
	@apply -rotate-45;
}
.hamburger svg.open > g:nth-of-type(2) path {
	transform: translateY(-4px);
}
