root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{*js,js,ts}]
indent_size = 2
indent_style = tab
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.{css,jsx,tsx}]
indent_size = 2
indent_style = tab

[*.{json,prisma}]
indent_size = 2
indent_style = space

[*.{yaml,yml}]
indent_size = 2
indent_style = space

[*.{markdown,md,mdown,mdwn,mkd,mkdn,rmd}]
tab_width = 4
trim_trailing_whitespace = false
