auto-install-peers=true
resolution-mode=highest
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=!@types/react
public-hoist-pattern[]=!@types/react-dom
public-hoist-pattern[]=*discordjs*
public-hoist-pattern[]=*prisma*
