{
  "$schema": "http://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "target": "es2022",
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "experimental": {
      "keepImportAssertions": true
    }
  },
  "exclude": ["^src/types/.*.ts$"]
}
