@theme inline {
	--animate-collapsible-down: collapsible-down 150ms ease-out;
  --animate-collapsible-up: collapsible-up 150ms ease-out;
	--animate-enter-from-left: enter-from-left 250ms ease;
  --animate-enter-from-right: enter-from-right 250ms ease;
	--animate-enter-to-left: enter-to-left 250ms ease;
  --animate-enter-to-right: enter-to-right 250ms ease;
	--animate-menu-in: menu-in 200ms ease;
  --animate-menu-out: menu-out 200ms ease;

	--ease-ease: cubic-bezier(0.25, 0.1, 0.25, 1);

	@keyframes collapsible-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

	@keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

	@keyframes enter-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

	@keyframes menu-in {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: var(--radix-navigation-menu-viewport-height);
    }
  }

  @keyframes menu-out {
    from {
      opacity: 1;
      height: var(--radix-navigation-menu-viewport-height);
    }
    to {
      opacity: 0;
      height: 0px;
    }
  }
}
