@theme inline {
	--animate-collapsible-down: collapsible-down 150ms ease-out;
  --animate-collapsible-up: collapsible-up 150ms ease-out;

	--ease-ease: cubic-bezier(0.25, 0.1, 0.25, 1);

	@keyframes collapsible-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
}
