@import "@elvia/ui/globals.css";

@theme inline {
	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-heading: var(--font-heading);
}

@layer base {
	html {
    @apply font-sans;
	}
}
